table {
    width: 100%;
    border-collapse: collapse;
}

th{
    border-bottom: 2px solid gray;
    padding: 15px;
    background: rgb(238, 238, 238);
}
td{
    padding: 15px;
    text-transform: capitalize;
}
.check-cart{
    display: flex;
    align-items: center;
    justify-content: end;
}
.check-cart input {
    padding: 4px 0px 4px 18px;
    width: 40px;
}
.cart{
    padding: 5px 16px;
    background-color: #222;
    color: white;
}