.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-out-container{
    display: flex;
    justify-content: space-around;
}
.checkout-cart{
    border:1px solid gray;
    padding: 20px;
    height: 300px;
    width: 25%;
    margin:  0 20px;
}
.proceed-btn{
    background-color: rgba(53, 120, 221, 0.959);
    color:white;
    padding: 8px 30px;
    border-radius: 30px;
    border:none;  
    text-transform: uppercase;
}